= favicon_link_tag "icons/apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png"
= favicon_link_tag "icons/apple-touch-icon-152x152.png", rel: "apple-touch-icon", type: "image/png"
= favicon_link_tag "icons/android-chrome-96x96.png", rel: "icon", type: "image/png"
= favicon_link_tag "icons/android-chrome-192x192.png", rel: "icon", type: "image/png"
= favicon_link_tag "icons/android-chrome-256x256.png", rel: "icon", type: "image/png"